* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 1.5vh;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  font-size: 1.5vmin;
}

a {
  color: #333;
  text-decoration: none;
}



h1{ font-size: 20px; }
h2{ font-size: 16px; }
h3{ font-size: 12px; }
h4{ font-size: 8px; }
input{font-size: 1.5vmin; padding: 0;}

.container{
  padding: 0 1rem;
  width: 100%;
  min-height: 100vh;
}

.inner{
  display: flex;
  flex-direction: column;
  padding: 0 0%;
  justify-content: center;
  max-height: 90vh;
}
.inner-top{
    background-color: grey;
    height: auto;
    overflow-y: scroll;
    max-height: 80%;
    max-width: 100%;
    padding-bottom: 20%;
}
.inner-bottom{
  height: 150px;
  max-height: 20%;
  border: 2px solid black;
  background: #677;
  border-radius: 5px;
  /* used for animation of sideview, not implemented */
  transition: height 0.5s ease-in;
}

  /* used for animation of sideview, not implemented */
.expanded {
  height: 300px;
}


.inner-bottom-head{
  display: flex;
  flex-direction: row;
  height: 40%;
  width: 100%;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  overflow-y: scroll;
}

.inner-bottom-foot{
  height: 60%;
  /*overflow-y: scroll;*/
}

.expanded > .inner-bottom-head {
  height: 12%;
}

.expanded > .inner-bottom-foot {
  height: 88%;
}


.btn {
  display: inline-block;
  border: none;
  background: #566;
  color: #fff;
  padding: 7px 20px;
  cursor: pointer;
}



.btn:hover {
  background: #677;
}

.btn-add:hover {
  background: rgb(88, 219, 158);
}

.btn-delete:hover {
  background: rgb(241, 83, 83);
}

.btn-save:hover {
  background: rgb(130, 197, 252);
}

.btn-reset:hover {
  background: rgb(228, 27, 27);
}

.btnShow{
  border:1px outset black;
  border-radius:5px;
  padding: 5px;
  background: hsl(207, 86%, 85%);
}


.btnShow:hover{
  background: hsl(207, 81%, 90%);
}


.courseTable{
  border: 8px double black;
  background-color: #fff;
}

.courseTable th{
  border: 1px solid black;
}

.courseTable td{
  border: 1px solid black;
}

.courseTable tr{
  border-bottom: 5px solid black;
}

.highlighted{
  /* outline:4px solid rgb(243, 215, 59); */
  background-color: rgb(233, 218, 133);
}

.selected{
  /* outline:4px solid rgb(102, 11, 11); */
  background-color: rgb(180, 123, 123);
}

.selected-term {
  background-color: rgba(180, 123, 123, 0.2);
}
