
.highlighted{
  /* outline:4px solid rgb(243, 215, 59); */
  background-color: rgb(240, 221, 101);
}

.selected{
  /* outline:4px solid rgb(102, 11, 11); */
  background-color: rgb(180, 123, 123);
}

.selected-term th, .selected-term td{
  background-color: rgba(180, 123, 123, 0.2);
}


.current {
  background-color: transparent;
  /* opacity: 0.5; */
  min-height: 300px;
  outline: 2px dashed rgb(58, 101, 116);
}

.current * {
  display: none !important;
  background-color: transparent;
}